html, body {
    height: 100%;
    overflow: hidden;
}

body {
    background-color: #1d1e1f;
}

.bg {
    height: 100%;
    z-index: -1;
}

.bg img {
    height: 80%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.taskbar {
    position: absolute;
    z-index: 100;
    bottom: 0;
    width: 100%;
    color: #ffffff;
}

.taskbar-content {
    background-color: #0c0c0ca2;
    backdrop-filter: blur(6px);
    overflow: hidden;
    max-height: 100px;
    font-size: 10pt;
}

.taskbar-content-pad {
    padding: 10px;
}

.taskbar-content img {
    max-width: 38px;
}

.taskbar-search {
    overflow: hidden;
    border-radius: 20px;
}

.taskbar-element {
    background-color: #77777700;
    animation: taskbar-hover-out 0.5s;
    padding: 10px;
}

.taskbar-element:hover {
    animation: taskbar-hover-in 0.5s;
    background-color: #77777777;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: #0c0c0cb3;
    backdrop-filter: blur(60px) saturate(4);
}

::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 2.5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

@keyframes taskbar-hover-in {
    from {
        background-color: #77777700;
    } to {
        background-color: #77777777;
    }
}

@keyframes taskbar-hover-out {
    from {
        background-color: #77777777;
    } to {
        background-color: #77777700;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translate(-30px, 0);
    } to {
        opacity: 1;
        transform: translate(0, 0);
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
        transform: translate(0, 0);
    } to {
        opacity: 0;
        transform: translate(-30px, 0);
    }
}