.title-text {
    margin-bottom: 0;
}

.page-title.hero-page {
    margin-top: 10px;
}

.post-content {
    margin-left: 0;
    margin-right: 0;
}

.post-content p {
    margin-bottom: inherit;
}

.hero-image {
    margin-top: 66px;
    min-height: 140px;
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

img {
    max-width: 100%
}