body {
    margin: 0;
    background-color: #333333;
    font-family: 'Cabin', sans-serif;
}

/*GENERAL*/
.spaceFiller {
    color: #333333;
}

a:hover {
    color: #0081a5;
}

/*GRIDS*/
.wrapper {
    grid-template-columns: repeat(2, 1fr);
    display: grid;
}

.row1 {
    grid-row: 1 / 2;
}

.row2 {
    grid-row: 2 / 3;
}

.row3 {
    grid-row: 3 / 4;
}

.row4 {
    grid-row: 4 / 5;
}

.col1 {
    grid-column: 1 / 2;
}

.col2 {
    grid-column: 2 / 3;
}

.col3 {
    grid-column: 3 / 4;
}

.col4 {
    grid-column: 4 / 5;
}

.col5 {
    grid-column: 5 / 6;
}

/*NAV BAR*/

nav {
    grid-template-columns: min-content auto auto auto auto;
    background-color: #222222;
    position: fixed;
    width: 100%;
    display: grid;
}

#navBarLogo {
    margin: 6px;
    width: 50px;
    border-radius: 5px;
}

nav a p, nav a {
    color: #ffffff;
    text-decoration: none;
}

.navbarText {
    text-align: center;
    margin: auto;
}

nav a p:hover, nav a:hover {
    color: #0081a5;
}

a:hover {
    color: #0081a5;
}

/*MAIN*/

main {
    margin: 6px;
    margin-top: 0px;
    color: #ffffff;
}

/*GENERAL*/
.mainWrapper {
    grid-template-columns: auto 70% auto;
    display: grid;
}

.sessionHeader {
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.mainQuote {
    text-align: center;
    font-size: 20px;
    margin: 10px;
}

.recapGrid {
    grid-template-rows: min-content min-content;
    display: grid;
    text-align: left;
}

.recapText {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    font-size: 15px;
}

.recapText p {
    margin-top: 3px;
}